/* account for navbar taking space*/

body {
  padding-top: 20px;
}

/* signup form error styling */

.invalid-credentials {
  font-size: 10pt;
  color: red;
  margin-top: 8px;
}

/*additional navigation styling*/

.nav-link {
  color: #cc9543 !important
}

.user-nav-link {
  cursor: default;
}

.halls-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hall-card a {
  color: #cc9543 !important
}

.hall-card {
  flex: 1 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

/* all links should be yellow */


/* vote controller styling */
.upvote, .downvote {
  color: #afa9a9;
  cursor: pointer;
}

.upvote.active {
  color: #399c0e
}

.downvote.active {
  color: #2c6eb1
}

.vote-controller-column {
  display: flex;
  align-items: center;
}

.vote-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between !important;
  font-size: 1rem !important
}

.post .vote-controller-column {
  align-items: flex-start;
  padding-top: 8px;
}

/* post card styling*/

/* padding is ugly*/

.post-list div {
  padding-left: 0px;
}


.posts-list-col {
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.post-card {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 0px;
  margin-left: 0px !important;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.post-card-img {
  width: 5rem;
  height: 5rem;
  margin-top: 12px;
  object-fit: cover;
}

.post-card-info {
  font-size: 9pt
}

.post-card-content {
  margin-left: 10px;
  padding: 0 !important
}


.post-info a {
  color: #cc9543;
}

/* color links in info row */

.post-card-info a {
  color: #cc9543;
}

.post-card-title {
  color: black !important;
  font-size: 11pt;
  text-decoration: none !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


.post-link  {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 1rem;
  color: #cc9543 !important;
  font-weight: bold;
}


/* hide tiny-link component */

.tiny-link-card {
  display: none;
}

/* no padding on preview in post card*/

.post-card .post-preview-container {
  padding: 0 !important
}

/*general post styling */

.post .post-content {
  display: grid;
  grid-template-columns: min-content 100%;
  padding: 0;
}

.post .post-preview-container {
  grid-row: span 4;
  margin-right: 10px;
}

.post-info {
  font-size: 10pt;
}

.post-title {
  color: black;
  font-size: 14pt;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.post-body {
  width: 91%;
  font-size: 11pt;
  overflow-wrap: normal;
  word-wrap: normal;
}

.post .content-controls {
  grid-column-start: 2;
}

/* post images bigger  in full view */

.post-image {
  max-width: 100%;
}

/*comments styling*/

.comments-header {
  margin-top: 20px;
  margin-bottom: 0px;
}

.comment-container {
  padding: 0 !important
}

.comment {
  display: flex;
  flex-direction: row;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 11pt;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.comment div {
  margin: 1px;
}

.comment-info {
  font-size: 11pt !important;
}

.comment-info a {
  color: #cc9543 !important
}

.comment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*indent replies for easier readability */

.indent-2 {
  margin-left: 10px !important;
}

.indent-3 {
  margin-left: 20px !important;
}

.indent-4 {
  margin-left: 30px !important;
}

.indent-5 {
  margin-left: 40px !important;
}

.indent-6 {
  margin-left: 50px !important;
}

/*control links styling*/

.content-controls {
  display: flex;
  flex-direction: row;
  font-size: 9pt;
  align-items: center;
}

.control-button {
  color: #cc9543;
  border: none;
  background: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 5px;
}

.control-button:hover {
  text-decoration: underline;
}

.control-button:focus {
  outline: none;
}

.pagination-controls {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button {
  margin: 5px;
  border: none;
  color: #cc9543;
  background-color: #f8f9fa;
}

.pagination-button:focus {
  outline: none;
}
/*sidebar styling*/

.sidebar-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.hall-stats {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10pt;
}

.hall-stats span {
  font-weight: bold;
}

.moderator-name {
  color: #cc9543;
}

.moderators-list {
  display: flex;
  flex-direction: column;
}

.join {
  background-color: #cc9543 !important;
  border-color: #cc9543 !important;
}

.leave {
  background-color: #d42c13 !important;
  border-color: #d42c13 !important
}

.join:hover {
  background-color: #efb868;
  border-color: #cc9543;
}

.subscription-button:focus {
  outline: none;
  box-shadow: none;
}

.user-profile-content .post-list .comment{
  padding: 0 !important
}
/* profile sidebar styling */

.user-sidebar h6 span {
  font-weight: bold;
}

.user-sidebar-name {
  font-weight: bold;
}

.user-owned-halls, .user-moderated-halls {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-sidebar a {
  color: #cc9543;
}


/*media queries*/

@media screen and (max-width: 600px) {

  .post-card-content {
    font-size: 8pt;
  }

  .post-card-title {
    font-size: 10pt;
  }

  /*i tell you, padding is ugly*/

  .post-card .row {
    flex-wrap: wrap;
  }

  .post-card .post-card-content {
    flex-grow: 100;
  }

  .vote-controller-column {
    width: 100%;
    order: 5 !important;
    padding: 0 !important;
  }

  .vote-controller {
    padding-right: 0 !important;
    display: flex;
    flex-direction: row;
    order: 5 !important;
    margin-left: auto;
  }

  .vote-controller div {
    margin-left: 5px;
    font-size: 13pt;
  }

  .score {
    font-size: 8pt;
  }
  .comment {
    justify-content: space-between;
  }

  .main {
    padding: 0 !important
  }

  /*appropiate post card img size */

  .post-card-img {
    width: 4rem;
    height: 4rem;
    margin-top: 12px;
    object-fit: cover;
  }

  /*sidebars on top for halls*/

  .sidebar-col {
    order: -5 !important
  }

  .sidebar-container {
    font-size: 9pt;
  }

  .hall-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .hall-header {
    font-size: 11pt;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .subscription-button {
    width: 20%;
    height: 20px;
    font-size: 12px !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin-bottom: 5px;
  }

  .moderators-list {
    display: none;
  }

  .hall-stats {
    display: none;
  }

  .hall-sidebar-mod-header {
    display: none;
  }

  .mod-hall-controls {
    display: none;
  }

  .path-header {
    display: none;
  }

  .main-sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
    justify-content: space-between;
  }

  .create-hall-button {
    font-size: 10pt;
  }

  .invitation-header {
    text-align: center;
    font-size: .8rem;
  }

  /* posts take full width of the viewport */

  .post {
    flex-direction: column !important;
  }

  .post-content {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .post-info {
    order: -3 !important
  }

  .post-preview-container {
    order: -1 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    align-self: auto;
    margin-right: 0 !important;
  }

  .post .post-card-img {
    height: 100%;
    width: 100%;
  }

  .no-preview {
    display: none
  }

  .post-title {
    order: -2 !important;
  }

  .post-link {
    font-size: .8rem;
  }

  .user-profile-sidebar {
    order: -1;
  }

  .user-owned-halls, .user-moderated-halls {
    display: none;
  }

  .user-sidebar-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
