body {
  padding-top: 20px;
}

a:not(.disabled) {
  color: #cc9543 !important;
}

.nav-link:not(.disabled) {
  color: #cc9543 !important;
}

.upvote, .downvote {
  font-size: 20pt;
  color: #afa9a9;
  cursor: pointer;
}

.upvote.active {
  color: #399c0e
}

.downvote.active {
  color: #2c6eb1
}

.vote-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-size: 15pt;
}

.card-img {
  max-width: 20vw;
  height: 20vw;
  object-fit: cover;
}

.comment-list {
  margin-top: 10px;
}

.indent-2 {
  margin-left: 10px;
}

.indent-3 {
  margin-left: 15px;
}

.indent-4 {
  margin-left: 20px;
}

.indent-5 {
  margin-left: 25px;
}

.vote-Comment {
  transform: scale(.7)
}
